<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
    </configSections>
    <system.web>
        <httpModules>
            <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
        </httpModules>
        <pages>
            <controls>
                <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
            </controls>
        </pages>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
