<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <appSettings>
    <!--<add key="UserAgentFaceBook" value="Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Mobile/11D257 [FBAN/FBIOS;FBAV/14.0.0.25.26;FBBV/4017285;FBDV/iPhone4,1;FBMD/iPhone;FBSN/iPhone OS;FBSV/7.1.2;FBSS/2; FBCR/Viettel;FBID/phone;FBLC/vi_VN;FBOP/5]"/>-->
    <add key="UserAgentFaceBook" value="[FBAN/FB4A;FBAV/16.0.0.20.15;FBBV/4061184;FBDM/{density=1.5,width=480,height=800};FBLC/en_US;FBCR/VNM and VIETTEL;FBPN/com.facebook.katana;FBDV/SGH-T959;FBSV/4.2.2;FBOP/1;FBCA/armeabi-v7a:armeabi;]"/>

    <add key="UserAgentPoker" value="Poker_VN/3.0.0 CFNetwork/672.1.15 Darwin/14.0.0"/>
    <add key="UserAgentBrowser" value="Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.124 Safari/537.36"/>
    <add key="api_key" value="882a8490361da98702bf97a021ddc14d"/>
    <add key="api_secret" value="62f8ce9f74b12f84c123cc23437a4a32"/>
    <add key="DefaultPass" value="S12365hh*"/>
    <add key="URLToCopy" value="https://apps.facebook.com/vntexas/"/>
    <add key="GetMoneyOnLoad"  value="0"/>
    <add key="Name3G" value="Viettel"/>
  </appSettings>
  <connectionStrings>
    <add name="PokerContext" connectionString="Data Source=.\db.sqlite"
     providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>