<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBContext" connectionString="metadata=res://*/Models.DBModels.csdl|res://*/Models.DBModels.ssdl|res://*/Models.DBModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Tin\SkyDrive\Project\FaceBookNuker\FaceBookNuker\DB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SSCVNContext" connectionString="metadata=res://*/Models.SSCVN.csdl|res://*/Models.SSCVN.ssdl|res://*/Models.SSCVN.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Tin\SkyDrive\Project\FaceBookNuker\FaceBookNuker\SSCVN.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultPass" value="S12365hh*" />
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.131 Safari/537.36" />
  </appSettings>
</configuration>