<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Instagram.Properties.Settings.tinphuong_com_dbConnectionString"
            connectionString="Data Source=tinphuong.com\MSSQLSERVER2012;Initial Catalog=tinphuong_com_db;Persist Security Info=True;User ID=vtt;Password=uxBa2@05"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>