<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultPass" value="S12365hh*"/>
    <add key="CheckNhanCo" value="0"/>
    <add key="CheckNhanThuong" value="0"/>
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/33.0.1750.154 Safari/537.36"/>
  </appSettings>
</configuration>