<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="login" value="lubo" />
    <add key="ManhTuongKhongGhep" value="ChanPhi,TieuKieu,TonThuongHuong,TruongOanhOanh,TaoHoa,TruongNam,KiLinh,LaPham,TruongChieu,TruongLuong,HaTe,QuachMa,LaHien,TruongBao,DiemTuong,DienPhong,CongTonToan,LuuHuan,TangBa"/>
    <add key="TuongUpLevelBangVang" value="HoangCai,TonLoDuc,TienDung,ChuDongTu,BaTrieu"/>
    <add key="DoiManh5Sao" value="ThachSanh,BaTrieu,TienDung,ChuDongTu,HoangCai,TonLoDuc"/>
  </appSettings>
</configuration>
